<h3>新增通知</h3>
TODO {{diagnostic}}
<div class="main-cont">
  <div class="form-group">
    <label for="msgTitle" class="MessageInsert-label">通知标题</label>
    <input type="text" [(ngModel)]="msg.title" class="MessageInsert-input" id="msgTitle" placeholder="通知标题">
  </div>
  <div class="form-group">
    <label for="courseId" class="MessageInsert-label">课程编号</label>
    <input type="text" [(ngModel)]="courseId" class="MessageInsert-input" id="courseId" placeholder="课程编号">
  </div>
  <div class="form-group">
    <label for="path" class="MessageInsert-label">通知内容</label>
    <textarea type="text" [(ngModel)]="msg.path" class="MessageInsert-text" id="path" placeholder="通知内容"></textarea>
  </div>

</div>
<div class="main-btn">
  <button type="button" class="btn btn-primary" (click)="submitData()">提交</button>
  <button type="button" class="btn btn-primary" (click)="goToList()">返回</button>
</div>
