.header {
    width: 100%;
    height: 10%;
    text-align: center
}

.main-body {
    width: 100%;
    height: 80%;
    background-color: gainsboro;
}

.footer {
    width: 100%;
    height: 10%;
    text-align: center;
}

.team {
    margin-top: 30px;
}

.total{
    width: 600px;
    margin: 80px auto;
    border: 1px solid #a8a8a8;
}

h3{
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
}

.main-lg{
    text-align: center
}

.lg-name{
    margin-bottom: 10px;
}

.lg-name label{
    width:50px;
}

.lg-pw label{
    width:50px;
}


.main-rd{
    text-align: center;
    margin-top: 20px;
}


.main-btn{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}