<div class="main-content" deep="2" *ngIf="lab$ | async as lab">
  <div class="left">
    <div class="labImg">
      <img src={{lab.imgPath}}>
    </div>
    <div>
        <label>实验室编号：</label>
        <span>{{lab.id}}</span>
        <br>
      <label>实验室名称：</label>
      <span>{{lab.labName}}</span>
      <br>
      <label>负责教师编号：</label>
      <span>{{lab.teacherId}}</span>
      <br>
      <label>负责教师姓名：</label>
      <span>{{lab.teacherName}}</span>
      <br>
      <label>实验室地址：</label>
      <span>{{lab.location}}</span>
    </div>
    <div class="main-btn">
      <button class="btn btn-info" (click)="goBack()">返回</button>
    </div>
  </div>

  <div class="right">
    <p>
        {{lab.brief}}
    </p>
  </div>

</div>