<div>
  <div class="main-content" deep="2">
    <div>
      <!--
      <div class="labImg">
        <img src="../../../assets/pic/lab/lab6.jpg">
      </div> -->
      <div>
        <label>实验室名称：</label>
        <span>人工智能研究室</span>
        <br>
        <label>负责教师编号：</label>
        <span>zstu_08_0006</span>
        <br>
        <label>实验室地址：</label>
        <span>#10-323</span>
      </div>
    </div>

    <div>
      <p>人工智能四川省重点实验室（以下简称：实验室）依托四川理工学院、国网四川省电力公司电力科学研究院(原四川电力试验研究院)、四川长征机床集团有限公司，于2001年筹建人工智能四川省（高校）重点实验室，2007年通过四川省教育厅验收。2009年，经四川省科技厅验收为四川省重点实验室。实验室将人工智能的思想与方法用于信息获取、信息处理和自动控制，以信息处理为核心，形成三个研究方向，构成一个完整的智能化研究系统。主要研究方向为：智能检测、智能信息处理、智能控制。</p>
      <p>实验室现有研究人员57名，教授（正高级）26人，副高级职称14人，中级职称17人。其中博士22人，硕士21人；35岁以下13人，36-55岁的41人，55岁以上3人；教育部长江学者特聘教授3人，享受国务院特殊津贴专家7人，国家杰出青年科学基金获得者1人，四川省学术和技术带头人3人，国家千人计划专家1人，四川省教学名师2人，四川省学术和技术带头人后备人选3人，四川省青年科技创新研究团队1个，四川省科技创新研究团队1个。该研究队伍的学历、年龄、职称、学缘结构合理，是一支充满朝气、勇于创新的研究队伍。</p>
      <p>经过十余年的建设，建筑面积达3000平方米，拥有价值达2000多万元的各种先进仪器设备。实验室面向全国发布开放基金项目，近5年，电子科技大学、重庆大学、江苏大学、大连交通大学、大连海事大学、四川理工学院等单位承担实验室开放基金项目79项，资助经费209万元，项目总经费584.5万元。</p>
      <p>近5年实验室承担科研项目124项，其中，国家级项目18项，包含国家自然科学基金重点项目1项，面上项目1项，青年基金项目10项，国家重大专项5项。省级项目29项，国际合作项目1项。出版专著3部；相关研究人员在国际、国内发表科研论文412篇，其中SCI收录50余篇，EI
        、ISTP收录102篇，中文核心期刊120篇。获得授权实用新型专利27项，授权发明专利5项，软件著作权2项。获得国家教育部自然科学二等奖1项，四川省科技进步一等奖1项，三等奖6项，自贡市科技进步一等奖1项，二等奖4项，三等奖1项，中国电力建设科学技术进步三等奖1项。</p>
      <p>实验室开展重视国际学术交流活动，分别向美国加州大学、澳大利亚奥克兰大学、加拿大渥太华大学、香港城市大学、新加坡南洋理工大学等相关学术机构派出访问学者近10人次，并积极开展相关科学研究。同时邀请墨西哥、法国、美国相关研究领域教授来实验室为实验室非线性研究团队及研究生做专题讲座。实验室联合国际国内多所高校、科研院所主办国际期刊杂志《Journal
        of Vibration Testing and System Dynamics》2017年3月正式出版。实验室面向全国招收模式识别与智能系统、控制科学与工程和控制工程硕士研究生，与电子科技大学联合培养博士研究生。</p>
    </div>

    <div class="main-btn">
      <button class="btn btn-info" (click)="goBack()">返回</button>
    </div>
  </div>