<h3>新增课程安排</h3>
TODO {{diagnostic}}
<div class="main-cont" *ngIf="courseInfo$">
    <div class="form-group">
        <label for="courseId" class="MessageInsert-label">课程编号</label>
        <select class="MessageInsert-input" [(ngModel)]="course.courseId" id="courseId">
            <option *ngFor="let courseInfo of courseInfo$ | async" value="{{courseInfo.id}}">
                {{courseInfo.courseDescription}}
            </option>
        </select>
    </div>
    <div class="form-group">
        <label for="startCourseTime" class="MessageInsert-label">课程开始时间</label>
        <input type="number" [(ngModel)]="course.startCourseTime" class="MessageInsert-input" id="startCourseTime" placeholder="课程开始时间">
    </div>
    <div class="form-group">
        <label for="endCourseTime" class="MessageInsert-label">课程结束时间</label>
        <input type="number" [(ngModel)]="course.endCourseTime" class="MessageInsert-input" id="endCourseTime" placeholder="课程结束时间">
    </div>
    <div class="form-group">
        <label for="weekday" class="MessageInsert-label">周几上课</label>
        <input type="number" [(ngModel)]="course.weekday" class="MessageInsert-input" id="weekday" placeholder="上课日期">
    </div>
    <div class="form-group">
        <label for="startWeek" class="MessageInsert-label">开始周数</label>
        <input type="number" [(ngModel)]="course.startWeek" class="MessageInsert-input" id="startWeek" placeholder="开始周数">
    </div>
    <div class="form-group">
        <label for="endWeek" class="MessageInsert-label">结束周数</label>
        <input type="number" [(ngModel)]="course.endWeek" class="MessageInsert-input" id="endWeek" placeholder="结束周数">
    </div>
    <div class="form-group">
        <label for="labId" class="MessageInsert-label">实验室编号</label>
        <input type="number" [(ngModel)]="course.labId" class="MessageInsert-input" id="labId" placeholder="实验室编号">
    </div>


</div>
<div class="main-btn">
    <button type="button" class="btn btn-primary" (click)="submitData()">提交</button>
    <button type="button" class="btn btn-primary" (click)="goToList()">返回</button>
</div>