<h3>上传教学文档</h3>
TODO {{diagnostic}}
<div class="main-cont">
  <div class="form-group">
    <label for="courseId" class="LaboratoryInsert-label">课程编号</label>
    <input type="text" [(ngModel)]="courseId" class="LaboratoryInsert-input" id="courseId" placeholder="课程编号">
  </div>
  <div class="form-group">
      教学文档: <input type="file" ng2FileSelect [uploader]="uploader" id="imgUpload"/>
  </div>

</div>
<div class="main-btn">
  <button type="button" class="btn btn-primary" (click)="submitData()">提交</button>
  <button type="button" class="btn btn-primary" (click)="goToList()">返回</button>
</div>