
.main-cont{
    margin-top: 20px;
    margin-left: 25%;
}

h3{
    font-weight: bold;
    text-align: center;
}
.form-group .CourseAddStudent-label{
    width: 150px;
    margin-top: 10px;
}

.form-group .CourseAddStudent-input{
    width: 400px;
    padding-left: 20px;
    border: 1px  solid #a8a8a8;
}

.academy{
    position:relative;
    width: 200px;
    height: 25px;
    border: 1px  solid #a8a8a8;
}

.form-control{
    width: 200px;
}

.main-btn button{
    margin-top: 20px;
    margin-left: 10%;  
    width: 400px;
}