<div class="row main-content">
  <!--一个实验室-->
  <div class="col-md-3 labInfo">
    <div class="labImg">
      <img src="../../../assets/pic/lab/lab6.jpg">
    </div>
    <div class="labTxt">
        <p>人工智能实验室，创办于1998年3月，隶属于我校信息学院，负责教师有黄理灿、贾玉波。光电化学材料与器件教育部重点实验室（江汉大学）于2011年10月获批组建，并于2014年10月顺利通过教育部验收，是省内市属高校中首个获批的教育部重点实验室。</p>
    </div>
    <div class="labBtn">
      <button type="button" class="btn btn-link">点击查看详情</button>
    </div>
  </div>
  <!--一个实验室-->
  <div class="col-md-3 labInfo">
    <div class="labImg">
      <img src="../../../assets/pic/lab/lab6.jpg">
    </div>
    <div class="labTxt">
      <p>人工智能实验室，创办于1998年3月，隶属于我校信息学院，负责教师有黄理灿、贾玉波。光电化学材料与器件教育部重点实验室（江汉大学）于2011年10月获批组建，并于2014年10月顺利通过教育部验收，是省内市属高校中首个获批的教育部重点实验室。</p>
    </div>
    <div class="labBtn">
      <button type="button" class="btn btn-link">点击查看详情</button>
    </div>
  </div>

  <div class="col-md-3 labInfo">
    <div class="labImg">
      <img src="../../../assets/pic/lab/lab6.jpg">
    </div>
    <div class="labTxt">
        <p>人工智能实验室，创办于1998年3月，隶属于我校信息学院，负责教师有黄理灿、贾玉波。光电化学材料与器件教育部重点实验室（江汉大学）于2011年10月获批组建，并于2014年10月顺利通过教育部验收，是省内市属高校中首个获批的教育部重点实验室。</p>
    </div>
    <div class="labBtn">
      <button type="button" class="btn btn-link">点击查看详情</button>
    </div>
  </div>

  <div class="col-md-3 labInfo">
    <div class="labImg">
      <img src="../../../assets/pic/lab/lab6.jpg">
    </div>
    <div class="labTxt">
        <p>人工智能实验室，创办于1998年3月，隶属于我校信息学院，负责教师有黄理灿、贾玉波。光电化学材料与器件教育部重点实验室（江汉大学）于2011年10月获批组建，并于2014年10月顺利通过教育部验收，是省内市属高校中首个获批的教育部重点实验室。</p>
    </div>
    <div class="labBtn">
      <button type="button" class="btn btn-link">点击查看详情</button>
    </div>
  </div>
</div>

<div class="row foot-content">
  <div class="col-md-3">
    <div class="main-btn">
      <button type="button" class="btn btn-info">新增</button>
    </div>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <div class="main-page">
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li>
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li>
            <a href="#">1</a>
          </li>
          <li>
            <a href="#">2</a>
          </li>
          <li>
            <a href="#">3</a>
          </li>
          <li>
            <a href="#">4</a>
          </li>
          <li>
            <a href="#">5</a>
          </li>
          <li>
            <a href="#">...</a>
          </li>
          <li>
            <a href="#">9</a>
          </li>
          <li>
            <a href="#">10</a>
          </li>
          <li>
            <a href="#">11</a>
          </li>
          <li>
            <a href="#">12</a>
          </li>
          <li>
            <a href="#">13</a>
          </li>
          <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>